*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.env
/Cloud-Computing/backend-api/node_modules/
# Ignore service account keys
/Cloud-Computing/backend-api/bucket-key.json
/Cloud-Computing/backend-api/controller/bucket-key.json
/Cloud-Computing/backend-api/config/bucket-key.json
